{% extends "vet/base_p.html" %}
{% load static %}
{% block title %}compras{% endblock title %}

{% block contenido %}
    <!-- Contenido de compras -->
    <div class="container mt-5">
        <h1 class="text-center mb-4">Mis compras</h1>
        <!-- Producto 1 -->
        <div class="producto">
            <img src="{% static 'vet/img/comiagato.png'%}" alt="Nombre Producto 1" width="200">
            <div class="producto-info">
                <h3>Purina gato</h3>
                <p>Descripción del producto: Alimento completo para perros de razas medianas y grandes.</p>
                <p>Precio: <span class="precio">$14.950</span></p>
                <p>Cantidad: 5</p>
                <a href="#" class="btn btn-success" onclick="confirmarReembolso(event)">Reembolsar</a>
            </div>
        </div>
{% endblock contenido %}    
              
{% block script %}
<script>
    function confirmarReembolso(event) {
        event.preventDefault();
        const confirmacion = confirm("¿Estás seguro de que quieres reembolsar este producto?");
        if (confirmacion) {
            alert("Producto reembolsado exitosamente.");
        } else {
            alert("Reembolso cancelado.");
        }
    }
</script>
{% endblock script %}
        
        
            
    