{% extends "vet/base_p.html" %}
{% load static %}

{% block title %} home {% endblock title %}
{% block contenido %}
        <!--Silder de imajenes-->
        <div id="imajenesMoviles" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src= "{% static 'vet/img/perrogato.png' %}" class="d-block w-100" alt="productos1">
                </div>
                <div class="carousel-item">
                    <img src= "{% static "vet/img/pro_ani.png" %}"  class="d-block w-100" alt="productos2">
                </div>
                <div class="carousel-item">
                    <img src= "{% static 'vet/img/ubicacion.png' %}"  class="d-block w-100" alt="productos2">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#imajenesMoviles" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#imajenesMoviles" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
{% endblock contenido %}