{% extends "vet/base_p.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Mi_cuenta{% endblock title %}
{% block contenido %}
<!--Inicio de formulario mi cuenta-->
{% comment %} <div class="row">
    <div class="text-center">
        <h1>Mi cuenta</h1>
    </div>
    <div class="text-center">
        <h3>Cuenta</h3>
    </div>
    <p class="d-inline-flex gap-1 justify-content-center">
        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target=".multi-collapse" aria-expanded="false" aria-controls="multiCollapseExample1 ">Perfil usuario</button>
        <button class="btn btn-primary" type="button" data-bs-toggle="collapse"
            data-bs-target="#multiCollapseExample4" aria-expanded="false" aria-controls="metodo_Pago">Compras revisión</button>
        <button class="btn btn-primary" type="button" data-bs-toggle="collapse"
            data-bs-target="#multiCollapseExample5" aria-expanded="false" aria-controls="metodo_Pago">Historial de compras</button>
    </p>
    <div class="row">
        <div class="col-md-4 col-sm-12">
            <div class="collapse multi-collapse" id="multiCollapseExample1">
                <div class="card card-body">
                    <form class="row needs-validation" action="" method="get" novalidate>
                        <div class="col-md-12">
                            <label for="vale_run" class="form-label">run</label>
                            <input type="text" class="form-control" id="vale_run" value="19836213-1" disabled >
                        </div>
                        <div class="col-md-12">
                            <label for="vale_correo" class="form-label">Correo</label>
                            <input type="text" class="form-control" id="vale_correo" value="cliente@gmail.com" disabled>
                        </div>
                        <div class="col-md-12 col-sm-12 ">
                            <label for="vali_contra" class="form-label">Contraseña*</label>
                            <input type="text" class="form-control" id="vali_contra" value="" required>
                            <span id="mensajeErrorvali_contra"></span>
                        </div>
                        <div class="mb-3">
                            <button type="submit" class="btn btn-primary w-100 " id="btn_vali1"> Modificar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-4  col-sm-12">
            <div class="collapse multi-collapse" id="multiCollapseExample2">
                <div class="card card-body">
                    <form class="row needs-validation" action="" method="get" novalidate>
                        <div class="col-md-12 mb-1 col-sm-12">
                            <label for="vali_nombre" class="form-label">Nombre*</label>
                            <input type="text" class="form-control" id="vali_nombre" value="" required>
                            <span id="mensajeErrorvali_nombre"></span>
                        </div>
                        <div class="col-md-12 mb-1 col-sm-12">
                            <label for="vali_ape" class="form-label">Apellido*</label>
                            <input type="text" class="form-control" id="vali_ape" value="" required>
                            <span id="mensajeErrorvali_ape"></span> 
                        </div>
                        <div class="col-md-12 mb-1 col-sm-12">
                            <label for="vali_comu" class="form-label">Comuna</label>
                            <input type="text" class="form-control" id="vali_comu" >
                            
                        </div>
                        <div class="col-md-12 mb-1 col-sm-12">
                            <label for="validationCustom03" class="form-label">Dirección</label>
                            <input type="text" class="form-control" id="validationCustom03">
                            
                        </div>
                        <div class="mb-3">
                            <button type="submit" class="btn btn-primary w-100 " id="btn_vali2"> Modificar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-12">
            <div class="collapse multi-collapse" id="multiCollapseExample3">
                <div class="card card-body">
                    <form class="row needs-validation" action="" method="get" novalidate>
                        <div class="col-md-12 mb-1 col-sm-12">
                            <label for="vali_targe" class="form-label">Targeta de crédito*</label>
                            <input type="text" class="form-control" id="vali_targe" required>
                            <span id="mensajeErrorvali_targe"></span> 
                        </div>
                        <div class="col-md-12 mb-1 col-sm-12">
                            <label for="vali_fv" class="form-label">Fecha de vencimiento*</label>
                            <input type="text" class="form-control" id="vali_fv" required>
                            <span id="mensajeErrorvali_fv"></span> 
                        </div>
                        <div class="col-md-12 mb-1 col-sm-12">
                            <label for="vali_cs" class="form-label">Código de seguridad*</label>
                            <input class="form-control" id="vali_cs" required>
                            <span id="mensajeErrorvali_cs"></span> 
                        </div>
                        <div class="col-md-12 mb-1 col-sm-12">
                            <label for="vali_fono" class="form-label">Teléfono*</label>
                            <div class="input-group">
                                <span class="input-group-text">+56</span>
                                <input type="text" class="form-control" id="vali_fono" required>
                            </div>
                            <span id="mensajeErrorvali_fono"></span>  
                        </div>
                        <div class="mb-3">
                            <button type="submit" class="btn btn-primary w-100 " id="btn_vali3"> Modificar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-1 col-sm-0"></div>
        <div class="col-md-10 col-sm-12">
            <div class="collapse" id="multiCollapseExample4">
                <div class="card card-body">
                    <div class="col-md-12 mb-1 col-sm-12">
                        <div><h3 class="text-center">Lista de compras</h3></div>
                        <table class="table table-resp">
                            <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Producto</th>
                                <th scope="col">Estado</th>
                                <th scope="col">Total</th>
                                <th scope="col">Revisar</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td class="col-md-3">Royal Canin adulto Mini Adult alimento para perro</td>
                                <td class="col-md-3">En reparto</td>
                                <td class="col-md-3">$50.000</td>
                                <td class="col-md-1"><a href="{% url "compras" %}" class=" boton"> Recibo</a></td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>Bravery Chicken Adult alimento para perro</td>
                                <td class="col-md-1">En tienda</td>
                                <td class="col-md-2">$100.000</td>
                                <td class="col-md-1"><a href="{% url "compras" %}" class=" boton"> Recibo</a></td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>Comida perro</td>
                                <td >En reparto</td>
                                <td>$60.000</td>
                                <td><a href="{% url "compras" %}" class=" boton"> Recibo</a></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-1 col-sm-0"></div>
        <div class="col-md-1 col-sm-0"></div>
        <div class="col-md-10 col-sm-12">
            <div class="collapse" id="multiCollapseExample5">
                <div class="card card-body">
                    <div class="col-md-12 mb-1 col-sm-12">
                        <table class="table table-resp">
                            <div><h3 class="text-center ">Historial de compras</h3></div>
                            <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Producto</th>
                                <th scope="col">Descripción</th>
                                <th scope="col">Precio</th>
                                <th scope="col">Cantidad</th>
                                <th scope="col">Total</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td class="col-md-2">Comida perro</td>
                                <td class="col-md-3">Comida baja en calorias </td>
                                <td class="col-md-2">$50.000</td>
                                <td class="col-md-1">2</td>
                                <td class="col-md-2">$100.000</td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>Comida perro</td>
                                <td>Comida para perros de raza x</td>
                                <td>$70.000</td>
                                <td >1</td>
                                <td>$70.000</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>   {% endcomment %}  
    <div class="row">
        <div class="col-2">
          <div class="list-group" id="list-tab" role="tablist">
            <a class="list-group-item list-group-item-action active" style="height: 100px;" id="list-home-list" data-bs-toggle="list" href="#Perfil" role="tab" aria-controls="list-home" >Perfil </a>
            <a class="list-group-item list-group-item-action" style="height: 100px;" id="list-profile-list" data-bs-toggle="list" href="#targetas" role="tab" aria-controls="list-profile">targetas</a>
            <a class="list-group-item list-group-item-action" style="height: 100px;" id="list-profile-list" data-bs-toggle="list" href="#Compras" role="tab" aria-controls="list-profile">Compras</a>
            <a class="list-group-item list-group-item-action" style="height: 100px;"  id="list-messages-list" data-bs-toggle="list" href="#Historial" role="tab" aria-controls="list-messages">Historial</a>
            <a class="list-group-item list-group-item-action" style="height: 100px;"  id="list-messages-list" data-bs-toggle="list" href="#configuración" role="tab" aria-controls="list-messages">configuración</a>
          </div>
        </div>
        <div class="col-10">
          <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="Perfil" role="tabpanel" aria-labelledby="list-home-list">
                <form action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <div>
                        <input type="submit" name="update_profile" value="Guardar Cambios" class="btn btn-warning text-light">
                    </div>
                </form> 
            </div>
            <div class="tab-pane fade" id="targetas" role="tabpanel" aria-labelledby="list-profile-list">
                    {% for t in targetas %}
                        <div class="container mt-1">
                            <div>
                                <div>
                                    <h1> tarjeta</h1>
                                    <h3>{{t.tarjeta_de_credito}}</h3>
                                    
                                    <div class="mt-3">
                                        <a  class="btn btn-success btn-block mb-2"  href="{% url "mi_cuenta_td" t.id user.correo%}" >Opciones</a> 
                                    </div>
                                    
                                </div>
                            </div> 
                        </div> 
                    
                    {% endfor %}
                    <div class="container" >
                        <form action="" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <h1>nueva tarjeta</h1>
                            {{ form4 | crispy }}
                            <div>
                                <input type="submit" name="agragar_tarjeta" value="agregar targeta" class="btn btn-success text-light">
                            </div>
                        </form> 
                    </div>
            </div>
            <div class="tab-pane fade" id="Compras" role="tabpanel" aria-labelledby="list-profile-list">no tengo</div>
            <div class="tab-pane fade" id="Historial" role="tabpanel" aria-labelledby="list-messages-list">cosas</div>
            <div class="tab-pane fade" id="configuración" role="tabpanel" aria-labelledby="list-messages-list">
                <form action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form2 | crispy }}
                    <div>
                        <input type="submit" name="change_password" value="Cambiar Contraseña" class="btn btn-warning text-light">
                    </div>
                </form> 
            </div>
          </div>
        </div>
      </div>
{% endblock contenido %}        
        
{% block script %}
    <script src="{% static 'vet/js/user_cuenta.js'%}"></script>
    <script src="{% static 'vet/js/user_cuenta_jq.js'%}"></script> 
    <script src="{% static 'vet/js/registro2.js'%}"></script>   
{% endblock script %}

     
    