{% extends "vet\base_admin.html" %}
{% load static %}
{% block title %}revicion{% endblock title %}
{% block contenido %}
<div class="container-fluid">
    <div class="row m-2">
        <div class="col-md-4 col-sm-12 d-flex justify-content-center">
            <img src="{% static 'vet/img/comia.png'%}" alt="producto">
        </div>
        <div class="col-md-8 col-sm-12 ">
            <div class="text-center">
                <h1>Descripción </h1>
                <p>Producto XD (Descripción)</p>
            </div>
            <div class="text-center">
                <div class="col-md-12 col-sm-12">
                    <p>Precio=$5000</p>
                </div>
                <div class="col-md-12 col-sm-12">
                    <p>Estado=en almacén</p>
                </div>
                <div class="m-1">
                    <button class="btn btn-primary"> En almacén</button>
                    <button class="btn btn-primary"> En carretera</button>
                    <button class="btn btn-primary"> Completada</button>
                </div>
                <div class="m-1">
                    <a class="btn btn-primary" href="{% url "trabajador" %}"> Guardar cambios</a>
                </div>
            </div>

        </div>
    </div>
</div>    
{% endblock contenido %}  

