{% extends "vet\base_admin.html" %}
{% load static %}
{% block title %}Mi_cuenta_admin{% endblock title %}
{% block contenido %}
<!--Formulario de información e historial de compras efectuadas por usuarios-->
<div class="container-fluid">
    <div class="row">
        <div class="text-center">
            <h1>Administrador</h1>
        </div>
        <p class="d-inline-flex gap-1 justify-content-center">
            <button class="btn btn-primary" type="button" data-bs-toggle="collapse"
                data-bs-target="#multiCollapseExample2" aria-expanded="false" aria-controls="metodo_Pago">Datos
                generales</button>
            <button class="btn btn-primary" type="button" data-bs-toggle="collapse"
                data-bs-target="#multiCollapseExample3" aria-expanded="false"
                aria-controls="metodo_Pago">Finanzas</button>
            <button class="btn btn-primary" type="button" data-bs-toggle="collapse"
                data-bs-target="#multiCollapseExample4" aria-expanded="false" aria-controls="metodo_Pago">Historial
                de compras</button>
        </p>
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <div class="collapse multi-collapse" id="multiCollapseExample2">
                    <div class="card card-body mb-2">
                        <div>
                            <h3 class="text-center ">Datos tienda</h3>
                        </div>
                        <div class="col-md-12 mb-1 ">
                            <form class="form-floating mb-1">
                                <input type="text" class="form-control" id="nombreTienda"
                                    placeholder="Veterinaria Santa Marta" value="Veterinaria Santa Marta" disabled>
                                <label for="nombreTienda">Nombre tienda</label>
                            </form>
                        </div>
                        <div class="col-md-12 mb-1">
                            <form class="form-floating mb-1">
                                <input type="email" class="form-control" id="contactoTienda"
                                    placeholder="vet.santamarta@gmail.com" value="vet.santamarta@gmail.com"
                                    disabled>
                                <label for="contactoTienda">Contactos</label>
                            </form>
                        </div>
                        <div class="col-md-12 mb-1">
                            <form class="form-floating mb-1">
                                <input type="text" class="form-control" id="stockGeneral"
                                    placeholder="200 productos" value="200 productos" disabled>
                                <label for="stockGeneral">Stock general</label>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="collapse multi-collapse" id="multiCollapseExample3">
                    <div class="card card-body mb-2">
                        <div>
                            <h3 class="text-center ">registro de finanzas </h3>
                        </div>
                        <div class="col-md-12 mb-1 ">

                            <form class="form-floating mb-1">
                                <input type="text" class="form-control" id="costosTienda" placeholder="$500.000"
                                    value="$500.000" disabled>
                                <label for="costosTienda">Costos tienda</label>
                            </form>
                        </div>
                        <div class="col-md-12 mb-1">
                            <form class="form-floating mb-1">
                                <input type="text" class="form-control" id="costosTienda" placeholder="$750.000"
                                    value="$750.000" disabled>
                                <label for="floatingInputValue">Ingresos tienda</label>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-1 col-sm-0"></div>
            <div class="col-md-10  col-sm-12">
                <div class="collapse multi-collapse" id="multiCollapseExample4">
                    <div class="card card-body mb-2">
                        <div class="col-md-12 col-sm-12">
                            <div>
                                <h3 class="text-center ">Lista de compras </h3>
                            </div>
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Nombre</th>
                                            <th scope="col">Producto</th>
                                            <th scope="col">Estado</th>
                                            <th scope="col">Revición</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th scope="row">1</th>
                                            <td class="col-md-3">Juan aaa</td>
                                            <td class="col-md-3">Royal Canin adulto Mini Adult </td>
                                            <td class="col-md-3">En almacén</td>
                                            <td class="col-md-3"><a class="btn btn-primary" href="{% url "Revision_estado" %}">Revición</a></td>

                                        </tr>
                                        <tr>
                                            <th scope="row">2</th>
                                            <td>marta uwu</td>
                                            <td>Bravery Chicken Adult </td>
                                            <td>En carretera</td>
                                            <td><a class="btn btn-primary" href="{% url "Revision_estado" %}">Revición</a></td>

                                        </tr>
                                        <tr>
                                            <th scope="row">2</th>
                                            <td>teri a</td>
                                            <td>Comida perro</td>
                                            <td>Completado</td>
                                            <td><a class="btn btn-primary" href="{% url "Revision_estado" %}">Revición</a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-1 col-sm-0"></div>
        </div>
    </div>
</div>
{% endblock contenido %}
        