{% extends "vet/base_p.html" %}
{% load static %}
{% block title %}Carrito de Compras{% endblock title %}
        
    
{% block contenido %}
    <!--Productos seleccionados-->
    <div class="container">
        <form id="carritoForm" class="row needs-validation" method="get "action="compras_login.html" novalidate>
            <h1>Carrito de Compras</h1>
            <div class="producto">
                <img src="{% static 'vet/img/comiaperro.png'%}" alt="Producto 1">
                <div class="producto-info">
                    <h4>Royal Canin adulto Mini Adult alimento para perro</h4>
                    <p>Precio: <span class="precio">$50.000</span></p>
                    <p>Cantidad: </p>
                    <div class="d-flex align-items-center">
                        <button class="btn btn-outline-primary rounded-0" type="button" id="decre1" >-</button>
                        <input class="form-control rounded-0" type="number" id="cantidad1" name="Cantidad" min="1" step="1" value="1" readonly
                            style="width: 50px;">
                        <button class="btn btn-outline-primary rounded-0" type="button" id="aumento1" >+</button>
                    </div>
                </div>
            </div>
            <div class="producto">
                <img src="{% static 'vet/img/comiaperropollo.png'%}" alt="Producto 2">
                <div class="producto-info">
                    <h4>Bravery Chicken Adul alimento para perro</h4>
                    <p>Precio: <span class="precio">$85.000</span></p>
                    <p>Cantidad: </p>
                    <div class="d-flex align-items-center">
                        <button class="btn btn-outline-primary rounded-0" type="button" id="decre2">-</button>
                        <input class="form-control rounded-0" type="number" id="cantidad2" name="Cantidad" min="1" step="1" value="2" readonly
                            style="width: 50px;">
                        <button class="btn btn-outline-primary rounded-0" type="button" id="aumento1">+</button>
                    </div>
                </div>
            </div>
            <!-- Otros campos de formulario -->
            <!-- Selección método de pago -->
            <div>
                <label>Método de pago*</label>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="tipoTarjeta" id="debito" required>
                    <label class="form-check-label" for="debito">Débito</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="tipoTarjeta" id="credito" required>
                    <label class="form-check-label" for="credito">Crédito</label>
                </div>
                <div id="mensajeErrorMetodoPago"></div>
            </div>
            <!-- Selección método de envío -->
            <div>
                <label>Método de envío*</label>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="metodoEnvio" id="retiroTienda" required>
                    <label class="form-check-label" for="retiroTienda">Retiro en tienda</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="metodoEnvio" id="envioDomicilio" required>
                    <label class="form-check-label" for="envioDomicilio">Envío a domicilio</label>
                </div>
                <div id="mensajeErrorMetodoEnvio"></div>
            </div>
            <!-- Mensaje de error general -->
            
            <div class="subtotal">
                Subtotal: $135.000
            </div>
            <div class="iva">
                IVA: $25650
            </div>
            <div class="total" style="text-align: left;">
                Total: $160.650
            </div>
            <button type="submit" class="btn btn-success w-100" id="btn_compra">Comprar</button>
        </form>
    </div>
{% endblock contenido %}
{% block script %}
    <script src="{% static 'vet/js/carrito_login_jq.js'%}"></script>
    <script src="{% static 'vet/js/carrito_login.js'%}"></script>
{% endblock script %}     
        
        
    