{% extends "vet/base_p.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block stilos %} {% endblock stilos %}
{% block title %} Ver producto {% endblock title %}   
{% block contenido %}
<!--Productos existentes en la tienda-->
<div class="container mt-2">
<div class="producto">
    <img src="{{producto.foto.url}}" alt="foto" width="250" height="150">
    <div class="producto-info">
        <h3>{{producto.nombre}}</h3>
        <p>Descripción del producto: {{producto.descripción}}</p>
        <p class="text-success">Stock disponible: {{producto.stock}}</p>
        <p>Precio: <span class="precio">${{producto.precio}}</span></p>
        {% if request.user.is_authenticated %}
            <form action="{% url 'agregar_producto' producto.id %}" method="post">
                {% csrf_token %}
                <label for="cantidad">Cantidad:</label>
                <input type="number" id="cantidad" name="cantidad" min="1" max="{{ producto.stock }}" value="1">
                <button type="submit">Agregar al Carrito</button>
            </form>                            
        {% else %}
            <div>logeese</div>                           
        {% endif %}
        <a href='{% url "tienda_login" %}' class="btn btn-primary btn-lg" >Volver</a>
    </div>
</div> 
</div> 

{% endblock contenido %}

{% block script %}
   
{% endblock script %}
        

        